
:host {

	border: solid 1px #ccc;
	padding: 10px 0 0 10px;
	display: block;

	.Products {

		h3 {

			border: solid 1px #ccc;
			padding: 10px;
			margin: 0 10px 0 0;
		}
		
		ul {

			padding: 0;
			margin: 0;
			list-style: none;

			li {

				border: solid 1px #ccc;
				padding: 10px;
				margin: 10px 10px 0 0;
				display: inline-block;
				cursor: pointer;
				width: 150px;
			}
		}
	}

	.Tools {

		margin: 0 0 10px 0;

		.State {

			margin: 0 0 0 10px;
		}
	}

	button + button {

		margin: 10px 0 0 10px;
	}

	button {

		margin: 10px 0 0 0;
		padding: 10px 20px;
		background: none;
		border-radius: 0;
		border: solid 1px #ccc;
	}
}