
:host {

	display: block;

	.Tools {

		padding: 20px;
		border: solid 1px #ccc;
		
		button {

			background: none;
			border-radius: 0;
			padding: 10px 20px;
			border: solid 1px;
			cursor: pointer;
		}

		button + button {

			margin: 0 0 0 10px;
		}
	}
}