
	/* USE */

	@font-face {
		font-family: "ralewayblack";
		src: url("./assets/fonts/raleway/raleway-black-webfont.eot");
		src: url("./assets/fonts/raleway/raleway-black-webfont.eot?#iefix") format("embedded-opentype"),
			 url("./assets/fonts/raleway/raleway-black-webfont.woff2") format("woff2"),
			 url("./assets/fonts/raleway/raleway-black-webfont.woff") format("woff"),
			 url("./assets/fonts/raleway/raleway-black-webfont.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "ralewaybold";
		src: url("./assets/fonts/raleway/raleway-bold-webfont.eot");
		src: url("./assets/fonts/raleway/raleway-bold-webfont.eot?#iefix") format("embedded-opentype"),
			 url("./assets/fonts/raleway/raleway-bold-webfont.woff2") format("woff2"),
			 url("./assets/fonts/raleway/raleway-bold-webfont.woff") format("woff"),
			 url("./assets/fonts/raleway/raleway-bold-webfont.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "ralewaysemibold";
		src: url("./assets/fonts/raleway/raleway-semibold-webfont.eot");
		src: url("./assets/fonts/raleway/raleway-semibold-webfont.eot?#iefix") format("embedded-opentype"),
			 url("./assets/fonts/raleway/raleway-semibold-webfont.woff2") format("woff2"),
			 url("./assets/fonts/raleway/raleway-semibold-webfont.woff") format("woff"),
			 url("./assets/fonts/raleway/raleway-semibold-webfont.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "ralewaylight";
		src: url("./assets/fonts/raleway/raleway-light-webfont.eot");
		src: url("./assets/fonts/raleway/raleway-light-webfont.eot?#iefix") format("embedded-opentype"),
			 url("./assets/fonts/raleway/raleway-light-webfont.woff2") format("woff2"),
			 url("./assets/fonts/raleway/raleway-light-webfont.woff") format("woff"),
			 url("./assets/fonts/raleway/raleway-light-webfont.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	/* BACKUP */

	@font-face {
		font-family: "ralewayblack_italic";
		src: url("./assets/fonts/raleway/raleway-blackitalic-webfont.eot");
		src: url("./assets/fonts/raleway/raleway-blackitalic-webfont.eot?#iefix") format("embedded-opentype"),
			 url("./assets/fonts/raleway/raleway-blackitalic-webfont.woff2") format("woff2"),
			 url("./assets/fonts/raleway/raleway-blackitalic-webfont.woff") format("woff"),
			 url("./assets/fonts/raleway/raleway-blackitalic-webfont.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "ralewaybold_italic";
		src: url("./assets/fonts/raleway/raleway-bolditalic-webfont.eot");
		src: url("./assets/fonts/raleway/raleway-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
			 url("./assets/fonts/raleway/raleway-bolditalic-webfont.woff2") format("woff2"),
			 url("./assets/fonts/raleway/raleway-bolditalic-webfont.woff") format("woff"),
			 url("./assets/fonts/raleway/raleway-bolditalic-webfont.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "ralewayextrabold";
		src: url("./assets/fonts/raleway/raleway-extrabold-webfont.eot");
		src: url("./assets/fonts/raleway/raleway-extrabold-webfont.eot?#iefix") format("embedded-opentype"),
			 url("./assets/fonts/raleway/raleway-extrabold-webfont.woff2") format("woff2"),
			 url("./assets/fonts/raleway/raleway-extrabold-webfont.woff") format("woff"),
			 url("./assets/fonts/raleway/raleway-extrabold-webfont.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "ralewayextrabold_italic";
		src: url("./assets/fonts/raleway/raleway-extrabolditalic-webfont.eot");
		src: url("./assets/fonts/raleway/raleway-extrabolditalic-webfont.eot?#iefix") format("embedded-opentype"),
			 url("./assets/fonts/raleway/raleway-extrabolditalic-webfont.woff2") format("woff2"),
			 url("./assets/fonts/raleway/raleway-extrabolditalic-webfont.woff") format("woff"),
			 url("./assets/fonts/raleway/raleway-extrabolditalic-webfont.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "ralewayextralight";
		src: url("./assets/fonts/raleway/raleway-extralight-webfont.eot");
		src: url("./assets/fonts/raleway/raleway-extralight-webfont.eot?#iefix") format("embedded-opentype"),
			 url("./assets/fonts/raleway/raleway-extralight-webfont.woff2") format("woff2"),
			 url("./assets/fonts/raleway/raleway-extralight-webfont.woff") format("woff"),
			 url("./assets/fonts/raleway/raleway-extralight-webfont.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "ralewayextralight_italic";
		src: url("./assets/fonts/raleway/raleway-extralightitalic-webfont.eot");
		src: url("./assets/fonts/raleway/raleway-extralightitalic-webfont.eot?#iefix") format("embedded-opentype"),
			 url("./assets/fonts/raleway/raleway-extralightitalic-webfont.woff2") format("woff2"),
			 url("./assets/fonts/raleway/raleway-extralightitalic-webfont.woff") format("woff"),
			 url("./assets/fonts/raleway/raleway-extralightitalic-webfont.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "ralewayitalic";
		src: url("./assets/fonts/raleway/raleway-italic-webfont.eot");
		src: url("./assets/fonts/raleway/raleway-italic-webfont.eot?#iefix") format("embedded-opentype"),
			 url("./assets/fonts/raleway/raleway-italic-webfont.woff2") format("woff2"),
			 url("./assets/fonts/raleway/raleway-italic-webfont.woff") format("woff"),
			 url("./assets/fonts/raleway/raleway-italic-webfont.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "ralewaylight_italic";
		src: url("./assets/fonts/raleway/raleway-lightitalic-webfont.eot");
		src: url("./assets/fonts/raleway/raleway-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),
			 url("./assets/fonts/raleway/raleway-lightitalic-webfont.woff2") format("woff2"),
			 url("./assets/fonts/raleway/raleway-lightitalic-webfont.woff") format("woff"),
			 url("./assets/fonts/raleway/raleway-lightitalic-webfont.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "ralewaymedium";
		src: url("./assets/fonts/raleway/raleway-medium-webfont.eot");
		src: url("./assets/fonts/raleway/raleway-medium-webfont.eot?#iefix") format("embedded-opentype"),
			 url("./assets/fonts/raleway/raleway-medium-webfont.woff2") format("woff2"),
			 url("./assets/fonts/raleway/raleway-medium-webfont.woff") format("woff"),
			 url("./assets/fonts/raleway/raleway-medium-webfont.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "ralewaymedium_italic";
		src: url("./assets/fonts/raleway/raleway-mediumitalic-webfont.eot");
		src: url("./assets/fonts/raleway/raleway-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"),
			 url("./assets/fonts/raleway/raleway-mediumitalic-webfont.woff2") format("woff2"),
			 url("./assets/fonts/raleway/raleway-mediumitalic-webfont.woff") format("woff"),
			 url("./assets/fonts/raleway/raleway-mediumitalic-webfont.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "ralewayregular";
		src: url("./assets/fonts/raleway/raleway-regular-webfont.eot");
		src: url("./assets/fonts/raleway/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"),
			 url("./assets/fonts/raleway/raleway-regular-webfont.woff2") format("woff2"),
			 url("./assets/fonts/raleway/raleway-regular-webfont.woff") format("woff"),
			 url("./assets/fonts/raleway/raleway-regular-webfont.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "ralewaysemibold_italic";
		src: url("./assets/fonts/raleway/raleway-semibolditalic-webfont.eot");
		src: url("./assets/fonts/raleway/raleway-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"),
			 url("./assets/fonts/raleway/raleway-semibolditalic-webfont.woff2") format("woff2"),
			 url("./assets/fonts/raleway/raleway-semibolditalic-webfont.woff") format("woff"),
			 url("./assets/fonts/raleway/raleway-semibolditalic-webfont.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "ralewaythin";
		src: url("./assets/fonts/raleway/raleway-thin-webfont.eot");
		src: url("./assets/fonts/raleway/raleway-thin-webfont.eot?#iefix") format("embedded-opentype"),
			 url("./assets/fonts/raleway/raleway-thin-webfont.woff2") format("woff2"),
			 url("./assets/fonts/raleway/raleway-thin-webfont.woff") format("woff"),
			 url("./assets/fonts/raleway/raleway-thin-webfont.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "ralewaythin_italic";
		src: url("./assets/fonts/raleway/raleway-thinitalic-webfont.eot");
		src: url("./assets/fonts/raleway/raleway-thinitalic-webfont.eot?#iefix") format("embedded-opentype"),
			 url("./assets/fonts/raleway/raleway-thinitalic-webfont.woff2") format("woff2"),
			 url("./assets/fonts/raleway/raleway-thinitalic-webfont.woff") format("woff"),
			 url("./assets/fonts/raleway/raleway-thinitalic-webfont.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}