
	@font-face {
		font-family: 'icomoon';
		src:  url('../assets/fonts/icomoon/icomoon.eot?d3r77e');
		src:  url('../assets/fonts/icomoon/icomoon.eot?d3r77e#iefix') format('embedded-opentype'),
		url('../assets/fonts/icomoon/icomoon.ttf?d3r77e') format('truetype'),
		url('../assets/fonts/icomoon/icomoon.woff?d3r77e') format('woff'),
		url('../assets/fonts/icomoon/icomoon.svg?d3r77e#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
	}
