
	html,
	body {

		margin: 0;
		padding: 0;
		height: 100%;
	}

	body {

		font-family: sans-serif;
		font-size: 80%;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	p {

		margin: 0;		
	}

	a {

		display: inline-block;
		vertical-align: middle;
		border: solid 1px #ccc;
		padding: $Margin / 4 $Margin / 2;
		text-decoration: none;
	}

	/* Nav & Views */

	nav {

		@include innerbox();
		bottom: auto;
		z-index: 1;		
	}

	app-root > .view {

		@include innerbox();
		z-index: 0;		
	}

	.view {

		@include innerbox();
		@include flexcenter();
	}