
	$Margin: 16px;

	// Color

	$Black: #000;
	$Dark: lighten($Black, 5%);
	$DarkMedium: lighten($Black, 25%);
	$Medium: lighten($Black, 50%);
	$LightMedium: lighten($Black, 75%);
	$Light: lighten($Black, 95%);
	$White: #fff;